[user]
    name = Paris Kolios
    email = paris.k@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.global-gitignore
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[github]
    user = pkolios
[alias]
    co = checkout
    st = status
    gl = log --graph --all --decorate --date=relative --abbrev-commit
    fixup = commit --fixup
    branch-name = !git rev-parse --abbrev-ref HEAD
    update = !git pull upstream $(git branch-name) && git push origin $(git branch-name)
    unstage = reset HEAD~
    rlog = !git log $(git describe --tags --abbrev=0)..HEAD --oneline
    deploy = !git tag -a $1 -f -m "$1" && git push origin $1 -f && :
