[user]
    name = Paris Kolios
    email = paris.k@gmail.com
[core]
    editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[github]
    user = pkolios
[alias]
    co = checkout
    st = status
    gl = log --graph --all --decorate --date=relative
